
/Aula patricia tabela.cpp
/Aula patricia tabela.exe
/Aula patricia tabela1 resolvida.cpp
/Aula patricia tabela1 resolvida.exe
/calculando o consumo de combustivel.exe
/Get string.cpp
/Get string.exe
/Introdução c++.cpp
/Introdução c++.exe
/OperadorTernario.exe
/Operações matemáticas.cpp
/Operações matemáticas.exe
/Tentativa 1.cpp
/Trabalho conversor de unidades.cpp
/Trabalho if else.exe
/Trabalho Imc.exe
/Trabalho rcq.exe
/NotadeDezAlunos.exe